


<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <form action="/artists" class="col-12 search">

         <div class="input-group mb-3">
        <input required type="text" name="artist" id="artist-input" class="form-control" placeholder="Search for an artist!" aria-label="Search for an artist!" aria-describedby="Search for an artist!">
        <div class="input-group-append">
            <button class="btn btn-primary home-search" type="submit">Search for an Artist</button>
        </div>
    </div>  

    </form>   
  </div>
</div>
